
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProductLabel" data-translate="wallavicApp.product.home.createOrEditLabel">Create or edit a Product</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div id="alert-size" ng-if="vm.showErrorFile" class="alert alert-danger">File size too big</div>

        <div class="form-group" ng-show="vm.product.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.product.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wallavicApp.product.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.product.title" required ng-maxlength="25"/>
            <div ng-show="editForm.cat.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" data-translate="entity.validation.maxlength">
                    The max length is 20 characteres.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label display-block" data-translate="wallavicApp.product.description" for="field_description">Description</label>
            <input type="text" class="form-control description-input" name="description" id="field_description"
                    ng-model="vm.product.description"
                    ng-maxlength="150" />
            <div class="description-number">(left {{150 - vm.product.description.length}})</div>
            <div ng-show="editForm.cat.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" data-translate="entity.validation.maxlength">
                    The max length is 50 characteres.
                </p>
            </div>
        </div>
         <div class="form-group">
            <label class="control-label" data-translate="wallavicApp.product.cat" for="field_cat">Cat</label>
            <select class="form-control" name="cat" ng-model="vm.product.cat" id="field_cat" required>
                <option value="Sport" data-translate="wallavicApp.ProductCat.Sport">Sport</option>
                <option value="Gaming" data-translate="wallavicApp.ProductCat.Gaming">Gaming</option>
                <option value="Technology" data-translate="wallavicApp.ProductCat.Technology">Technology</option>
                <option value="Home" data-translate="wallavicApp.ProductCat.Home">Home</option>
                <option value="Tools" data-translate="wallavicApp.ProductCat.Tools">Tools</option>
                <option value="Clothes" data-translate="wallavicApp.ProductCat.Clothes">Clothes</option>
                <option value="Garden" data-translate="wallavicApp.ProductCat.Garden">Garden</option>
            </select>
            <div ng-show="editForm.cat.$invalid">
                <p class="help-block"
                    ng-show="editForm.cat.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wallavicApp.product.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.product.price"
                    required min="0.01" />
            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                    ng-show="editForm.price.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.min" data-translate="entity.validation.min" translate-value-min="0.01">
                    This field should be more than 0.01.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="wallavicApp.product.image" for="field_image">Image</label>
            <div ngf-drop ngf-select ng-model="vm.file" class="drop-box" id="field_image"
                ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" ngf-keep="true" ngf-change="vm.uploadModel($newFiles)"
                accept="image/*,.png,.jpeg,.gif,application/pdf,video/*,.docx,.doc,.xls,.xlsx,.zip,.rar,.mp3" 
                ngf-pattern="'image/*,.png,.jpeg,.gif,application/pdf,video/*,.docx,.doc,.xls,.xlsx,.zip,.rar,.mp3'">Drop .pdf, .doc, .xls, or any type of video, images and audio or click to upload</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            File:
            <ul>
                <li ng-repeat="f in vm.file">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
            </ul>
            <button ng-if="vm.file.length > 0" class="btn btn-danger" ng-click="vm.removeFile()"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
